<<<<<<< HEAD
<h1>Create booking</h1>


<%= simple_form_for([@gear, @booking]) do |f| %>
<%= f.input :start_date, as: :date%>
=======
<h1>Create Booking</h1>

<%= simple_form_for([@gear, @booking]) do |f| %>
<%= f.input :start_date, as: :date %>
>>>>>>> 09c05c7cfe85880f4e4c9c38d3ac22f34e85d790
<%= f.input :end_date, as: :date %>
<%= f.submit %>
<% end %>
<hr>
<<<<<<< HEAD
<%# <p><%= link_to "Go home", lists_path, class: "btn btn-ligth" %>
=======
<p><%= link_to "Go home", lists_path, class: "btn btn-ligth" %></p>

>>>>>>> 09c05c7cfe85880f4e4c9c38d3ac22f34e85d790
