<div id="<%= dom_id gear %>">
  <h2><%= link_to gear.name, gear_path(gear) %></h2>
  <p>
    <strong>Description:</strong>
    <%= gear.description %>
  </p>

  <p>
    <strong>Price per day:</strong>
    <%= gear.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= gear.category %>

</div>
