<div id="<%= dom_id gear %>">
  <h2><%= link_to gear.name, gear_path(gear), class: "name-link text-decoration-none text-dark" %></h2>
  <p>
    <strong>Description:</strong>
    <%= gear.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= gear.category %>
  </p>

  <p>
    <strong>Localisation:</strong>
    <%= gear.address %>
  </p>
</div>
