<div class="page-container">
  <div class="title-top">
  <h1>Browsing</h1>
  <%# <%= link_to "Upload New gear", new_gear_path, class:"btn btn-paco m-2" %>
  </div>
  <div class="ms-3 d-flex flex-row gap-3 flex-wrap mb-5" >
    <% @gears.each do |gear| %>
      <div class="card-trip">
      <% if gear.photo.key.nil? %>
        <%= cl_image_tag "dwl90cghmju94tsyc7b0z07wlbmq", crop: :scale %>
      <% else %>
        <%= cl_image_tag gear.photo.key, crop: :fill %>
      <% end %>
          <div class="card-trip-infos">
              <div>
                <%= render gear %>
              </div>
              <div class="photo-price">
                <h2 class="card-trip-pricing"><%= gear.price %> €</h2>
                <% if gear.user.photo.key.nil? %>
                  <%= image_tag "defaultprofile", crop: :fill, class: "card-trip-user avatar-bordered" %>
                <% else %>
                  <%= cl_image_tag gear.user.photo.key, width: 40, height: 40, gravity: :auto, class: "card-trip-user avatar-bordered" %>
                <% end %>
              </div>
          </div>
      </div>
      <% end %>
  </div>
</div>
