<div class="banner-show">
    <div class="image-banner-dyna">
      <%= image_tag "defaultbanner", height: 700, width:1806 %>
    </div>
  </div>
<div class="page-container-index">
  <div class="index-container ms-3 d-flex flex-row gap-3 flex-wrap mb-5" >
    <% @gears.each do |gear| %>
      <div class="card-trip ">
      <% if gear.photo.key.nil? %>
        <%= image_tag "logo", crop: :scale %>
      <% else %>
        <%= cl_image_tag gear.photo.key, crop: :fill %>
      <% end %>
          <div class="card-trip-infos">
              <div>
                <%= render gear %>
              </div>
              <div class="photo-price">
                <h2 class="card-trip-pricing"><%= gear.price %> €</h2>
                <% if gear.user.photo.key.nil? %>
                  <%= image_tag "defaultprofile", crop: :fill, class: "card-trip-user avatar-bordered" %>
                <% else %>
                  <%= cl_image_tag gear.user.photo.key, width: 40, height: 40, gravity: :auto, class: "card-trip-user avatar-bordered" %>
                <% end %>
              </div>
          </div>
          <% if user_signed_in?  %>
            <%= link_to "Details", gear_path(gear), class: "btn btn-paco details-login-d" %>
           <%= link_to "Book now", "/gears/#{gear.id}/bookings/new", class: "btn btn-paco details-login-b"%>
          <% else %>
                <%= link_to "Details", gear_path(gear), class: "btn btn-paco details-nologin" %>
          <% end %>
      </div>
      <% end %>
  </div>
</div>
