<div class="cards">
  <div class="card-body">
    <%= render @gear %>
    <%= link_to "Edit", edit_gear_path(@gear), class: "btn btn-primary" %>
    <%= link_to "Delete", gear_path(@gear), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
    <%= link_to "Back to main page", root_path%>
    </div>
</div>
<hr>
<% @gear.bookings.each do |booking| %>
  <p><%= booking.start_date %></p>
  <p><%= booking.end_date %></p>
<% end %>
<hr>
<%= link_to "Book now", "/gears/#{@gear.id}/bookings/new" %>


<%# fix the delete button %>
